<ng-template #extraTemplate>
    <a nz-button nzType="primary" [routerLink]="'new'"><span nz-icon nzType="plus-circle" nzTheme="outline"></span> Nuevo</a>
</ng-template>

<nz-card nzTitle="Lista de Activos" [nzExtra]="extraTemplate">
    <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton" class="mb-5 w-50">
      <input type="text" nz-input [(ngModel)]="search" placeholder="Buscar por GIPD" />
    </nz-input-group>
    <ng-template #suffixIconButton>
      <button nz-button nzType="primary" (click)="onSearch()" nzSearch><span nz-icon nzType="search"></span></button>
    </ng-template>

    <nz-table #computersTable [nzData]="computersSet" [nzScroll]="{ x: '1800px' }">
        <thead>
          <tr>
            <th class="personal_details">GPID</th>
            <th class="personal_details">Display Name</th>
            <th class="personal_details">Correo</th>
            <th class="personal_details">Cargo</th>

            <th class="empresa">Empresa</th>
            <th class="empresa">Sede</th>
            <th class="empresa">Area</th>
            <th class="empresa">Codigo CC</th>

            <th class="warning">Tipo</th>
            <th class="warning">Marca</th>
            <th class="warning">Modelo</th>
            <th class="warning">Serie</th>
            <th class="warning">N° Inventario</th>
            <th class="warning">Compu. Name</th>
            <th class="warning">SO</th>

            <th class="redd">ESTADO</th>
            <th nzRight [nzAlign]="'center'" [nzWidth]="'100px'">Acción</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let c of computersTable.data">

            <td>{{c.employee?.gpid}}</td>
            <td>{{c.employee?.name}}</td>
            <td>{{c.employee?.email }}</td>
            <td>{{c.employee?.job}}</td>

            <td>{{c.business?.name}}</td>
            <td>{{c.sede?.name}}</td>
            <td>{{c.area?.name}}</td>
            <td>{{'PE'+c.ceco?.code +'-'+c.ceco?.name}}</td>

            <td>{{c.type.description }}</td>
            <td>{{c.brand.description }}</td>
            <td>{{c.model.description }}</td>
            <td>{{c.number_serie }}</td>
            <td>{{c.number_inventory }}</td>
            <td>{{c.name }}</td>
            <td>{{c.so.description }}</td>

            <td>{{c.status.description }}</td>
            <td nzRight [nzAlign]="'center'">
              <a [routerLink]="'edit/'+c.id"> <span nz-icon nzType="edit" nzTheme="outline" style="font-size: 20px;color: #52c41a;"></span></a>
            </td>
          </tr>
        </tbody>
    </nz-table>
</nz-card>
