.personal_details{
    background-color: #2778f4;
    color: #FFF;
}

.empresa{
    background-color: #52c41a;
    color: #FFF;
}
.warning{
    background-color: #faad14;
    color: #FFF;
}
.redd{
    background-color: #ff4d4f;
    color: #FFF;
    
}