<ng-template #extraTemplate>
    <a nz-button nzType="primary" [routerLink]="'new'">Nuevo</a>
</ng-template>

<nz-card nzTitle="Lista de Computos" [nzExtra]="extraTemplate">
    <nz-table #computersTable [nzData]="computersSet" [nzScroll]="{ x: '1400px' }">
        <thead>
          <tr>
            <th>Tipo</th>
            <th>Marca</th>
            <th>Modelo</th>
            <th>Nº serie</th>
            <th>Fec. de ini. garantia</th>
            <th>Fec. de exp. garantia</th>
            <th>CECO</th>
            <th>Usuario</th>
            <th>Estado</th>
            <th nzRight [nzAlign]="'center'" [nzWidth]="'100px'">Acción</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let c of computersTable.data">
            <td>{{c.type?.description}}</td>
            <td>{{c.brand?.description}}</td>
            <td>{{c.model?.description }}</td>
            <td>{{c.number_serie ?? '' }}</td>
            <td>{{c.date_start_guarantee }}</td>
            <td>{{c.date_exp_guarantee }}</td>
            <td>{{c.ceco?.code }}</td>
            <td>{{c.employee?.name }}</td>
            <td>{{c.status.description }}</td>
            <td nzRight [nzAlign]="'center'">
              <a [routerLink]="'edit/'+c.id"> <span nz-icon nzType="edit" nzTheme="outline" style="font-size: 20px;color: #52c41a;"></span></a>
            </td>
          </tr>
        </tbody>
    </nz-table>
</nz-card>
